.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
  &__input {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    &_wrapper {
      display: flex;
      align-items: center;
    }
  }
  &__search {
    &_wrapper {
      display: flex;
      align-items: center;
    }
  }
  &__menu {
    margin: 40px auto 0;
  }
  &__list {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
    &-item {
      margin: 0 20px;
    }
    &-link {
      font-size: 14px;
      line-height: 26px;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
      transition: 0.5s;
      &:hover {
        text-decoration: none;
        transform: scale(1.2);
        color: #f16d7f;
      }
      &:active {
        transform: scale(1);
      }
    }
  }
}
.cart {
  border: 1px solid;
  width: 300px;
  position: absolute;
  top: 80px;
  transform: translate(-45%);
  padding: 20px;
  background: white;
  z-index: 1;
  &__btn {
    border: none;
    background: transparent;
    padding: 0;
    margin-right: 15px;
    outline: none;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
  }
  &__footer {
    margin: 25px auto 0;
    width: 100%;
    &-checkout {
      width: 100%;
      min-height: 50px;
      border: 1px solid #f16d7f;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #f16d7f;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      background: transparent;
      outline: none;
    }
    &-cart {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #4a4a4a;
      width: 100%;
      min-height: 50px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      outline: none;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 25px;
    &-img {
      width: 80px;
      height: 80px;
    }
    &-info {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px;
      position: relative;
    }
    &-title {
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.4;
      text-transform: uppercase;
      color: #222222;
    }
    &-price {
      font-family: Lato;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #f16d7f;
    }
    &-ammount {
      font-size: 10px;
    }
    &-remove {
      position: absolute;
      right: -50px;
      top: 40px;
      font-size: 16px;
      font-weight: 400;
      color: #c0c0c0;
      border: none;
      background: none;
      width: 30px;
      padding: 0;
    }
  }
}
