$color-1: #879baf;
$color-2: #87a3af;
$color-3: #5e727a;
$color-4: #f0fbff;
$color-5: #e2f6ff;

body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  width: 900px;
  height: 100vh;
  background-color: $color-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $color-5;
  }
  .start__text{
    text-align: center;
    color: #e2f6ff;
    font-size: 32px;
  }
 
  button {
    border: 1px solid $color-3;
    width: 300px;
    background-color: $color-2;
    color: $color-5;
    font-size: 25px;
    height: 50px;
    outline: none;
    transition: background-color 0.5s;
    border-radius: 15px;
    &:hover {
      background-color: $color-3;
      color: $color-4;
      transition: background-color 0.5s;
      &:active {
        background-color: $color-2;
        color: $color-5;
      }
    }
  }
  .form__container {
    width: 80%;
    margin-top: 30px;
        fieldset{
           display: flex;
           color: $color-5;
           border-radius: 20px;
           border: 1px solid $color-4;
        } 
        textarea{
            resize: none;
            margin: auto;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $color-4;
        }
        button{
            margin: 15px auto;
        }
        input{
            margin: 5px  auto;
            height: 40px;
            width: 200px;
            border-radius: 15px;
            outline: none;
            padding: 0 40px;
            border: 1px solid $color-4;
            color: $color-3;
            font-size: 1em;
        }
        #name{
            text-transform: capitalize;
        }
        p{
            width: 280px;
            margin: auto;
            font-size: 10px; 
             
        b{
            font-size: 15px;
        }
        }
  }
}
